.MainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.Container{
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
.Each{
    border: 2px solid black;
   border-radius: 2rem;
   padding: 1rem;
   
    margin: 2rem;
    text-align: center;
}
.Name,.Price{
    font-weight: 700;
}